/****** Object:  Database [sigestran]    Script Date: 09/11/2019 11:35:20 a.m. ******/
CREATE DATABASE [sigestran]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sigestran', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sigestran.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sigestran_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sigestran_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sigestran].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
--/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
--GO
--/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
--GO
--/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
--GO
--/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
--GO
--/* For security reasons the login is created disabled and with a random password. */
--/****** Object:  Login [dm15012]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [dm15012] WITH PASSWORD=N'Mce92LukE0fR5UmXvvizuSuIguAIKXXSCQI9NdHda8U=', DEFAULT_DATABASE=[sigestran], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
--GO
--ALTER LOGIN [dm15012] DISABLE
--GO
--/****** Object:  Login [Dalton-PC\Dalton]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [Dalton-PC\Dalton] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
--GO
--/****** Object:  Login [BUILTIN\Usuarios]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [BUILTIN\Usuarios] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
--GO
--/* For security reasons the login is created disabled and with a random password. */
--/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'IKggjyQR7PKYFMY/dpytwdmFM6qF5x6tzUgKEBa2wm8=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
--GO
--ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
--GO
--/* For security reasons the login is created disabled and with a random password. */
--/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'r8nJb6SU1iK6+l7tbiZ+52iXoY5BmrADYJyU3rCULh0=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
--GO
--ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
--GO
--ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
--GO
--ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
--GO
--ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
--GO
--ALTER SERVER ROLE [sysadmin] ADD MEMBER [dm15012]
--GO
--ALTER SERVER ROLE [sysadmin] ADD MEMBER [Dalton-PC\Dalton]
--GO
--/****** Object:  User [dm15012]    Script Date: 09/11/2019 11:35:20 a.m. ******/
--CREATE USER [dm15012] FOR LOGIN [dm15012] WITH DEFAULT_SCHEMA=[dbo]
--GO
/****** Object:  Table [dbo].[SGT_Condiciones_Ruta]    Script Date: 09/11/2019 11:35:21 a.m. ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO

Use sigestran
go

CREATE TABLE [dbo].[SGT_Condiciones_Ruta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[monday] [bit] NULL,
	[tuesday] [bit] NULL,
	[wednesday] [bit] NULL,
	[thursday] [bit] NULL,
	[friday] [bit] NULL,
	[saturday] [bit] NULL,
	[sunday] [bit] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Departamento]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Departamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Direccion]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Direccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[detail] [nvarchar](250) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[city_id] [int] NULL,
	[department_id] [int] NULL,
	[name] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Empleado]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](75) NOT NULL,
	[last_name] [nvarchar](75) NOT NULL,
	[is_unit_boss] [bit] NOT NULL,
	[user_name] [nvarchar](75) NOT NULL,
	[user_pass] [nvarchar](75) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[id_boss] [int] NULL,
	[procuraduria_id] [int] NULL,
	[unit_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Folo6]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Folo6](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_unit] [int] NOT NULL,
	[off_date] [datetimeoffset](7) NOT NULL,
	[off_hour] [time](7) NOT NULL,
	[return_hour] [time](7) NOT NULL,
	[passengers_number] [int] NOT NULL,
	[with_driver] [bit] NOT NULL,
	[person_who_drive] [nvarchar](100) NULL,
	[license_type] [nvarchar](30) NULL,
	[mission] [nvarchar](150) NOT NULL,
	[observation] [nvarchar](150) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[employee_id] [int] NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Folo6_Aprovado]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Folo6_Aprovado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_unit_approve] [bit] NULL,
	[unit_cancel_detail] [nvarchar](250) NULL,
	[transport_unit_approve] [bit] NULL,
	[cancel_tunit_detail] [nvarchar](250) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[folo06_id] [int] NULL,
	[aprove_boss_id] [int] NULL,
	[aprove_tunit_boss_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Lugares_Contenedor]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Lugares_Contenedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_visit] [date] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[address_id] [int] NULL,
	[folo_id] [int] NULL,
	[frequent_place_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Lugares_Frecuentes]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Lugares_Frecuentes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[detail] [nvarchar](250) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[procuraduria_id] [int] NULL,
	[city_id] [int] NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Municipio]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Municipio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Procuraduria]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Procuraduria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[address_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Ruta]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Ruta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[procuraduria_id] [int] NULL,
	[route_conditions_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Unidad]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Unidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_unit] [nvarchar](75) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Vale]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Vale](
	[num_voucher] [bigint] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[condition] [nvarchar](255) NOT NULL,
	[date_entry] [datetimeoffset](7) NOT NULL,
	[voucher_provider] [nvarchar](255) NOT NULL,
	[num_entry_bill] [bigint] NOT NULL,
	[date_entry_bill] [datetimeoffset](7) NOT NULL,
	[num_close_bill] [bigint] NULL,
	[date_close_bill] [datetimeoffset](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Vales_Asignados_Folo6]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Vales_Asignados_Folo6](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_voucher_f6] [datetimeoffset](7) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[folo6_id] [int] NULL,
	[num_voucher] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Vales_Asignados_Procuraduria]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Vales_Asignados_Procuraduria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_voucher_procu] [datetimeoffset](7) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[num_voucher] [bigint] NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SGT_Vehiculo]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SGT_Vehiculo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[plate] [nvarchar](10) NOT NULL,
	[chassis] [nvarchar](20) NOT NULL,
	[engine] [nvarchar](25) NOT NULL,
	[seats] [int] NOT NULL,
	[state] [nvarchar](25) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIS_Usuarios]    Script Date: 09/11/2019 11:35:21 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIS_Usuarios](
	[Id] [int] NOT NULL,
	[CodigoUsuario] [char](10) NOT NULL,
	[ApellidosUsuario] [varchar](50) NOT NULL,
	[NombresUsuario] [varchar](50) NOT NULL,
	[ClaveUsuario] [char](10) NULL,
	[CorreoElectronicoUsuario] [varchar](100) NOT NULL,
	[MovilMensajeCortoUsuario] [varchar](100) NULL,
	[CodigoUsuarioSupervisor] [char](10) NULL,
	[ActivoInactivoUsuario] [char](1) NOT NULL,
	[TiempoRefrescoPantallaSegundos] [numeric](5, 0) NULL,
	[CodigoEstiloPantalla] [char](10) NULL,
	[CodigoZonaContacto] [char](10) NULL,
	[CodigoCallCenter] [char](10) NULL,
	[CodigoRolUsuario] [char](1) NULL,
	[ProveedorServicioCelular] [char](1) NULL,
	[UbicacionFisicaUsuario] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SGT_Condiciones_Ruta] ON 

INSERT [dbo].[SGT_Condiciones_Ruta] ([id], [monday], [tuesday], [wednesday], [thursday], [friday], [saturday], [sunday], [created_at], [updated_at]) VALUES (1, 1, 1, 1, 1, 1, 1, 1, CAST(N'2019-11-04T10:05:21.7810000+00:00' AS DateTimeOffset), CAST(N'2019-11-04T10:05:21.7810000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SGT_Condiciones_Ruta] OFF
SET IDENTITY_INSERT [dbo].[SGT_Departamento] ON 

INSERT [dbo].[SGT_Departamento] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, N'Ahuachapan', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
INSERT [dbo].[SGT_Departamento] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, N'Santa Ana', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
INSERT [dbo].[SGT_Departamento] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, N'Sonsonate', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SGT_Departamento] OFF
SET IDENTITY_INSERT [dbo].[SGT_Direccion] ON 

INSERT [dbo].[SGT_Direccion] ([id], [detail], [created_by], [updated_by], [created_at], [updated_at], [city_id], [department_id], [name]) VALUES (1, N'Isla conejo en el trifinio', NULL, NULL, CAST(N'2019-10-08T03:40:57.4500000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T03:40:57.4500000+00:00' AS DateTimeOffset), 262, 14, N'Isla conejo')
INSERT [dbo].[SGT_Direccion] ([id], [detail], [created_by], [updated_by], [created_at], [updated_at], [city_id], [department_id], [name]) VALUES (1002, N'San Miguel', NULL, NULL, CAST(N'2019-11-04T10:15:26.5840000+00:00' AS DateTimeOffset), CAST(N'2019-11-04T10:33:31.8980000+00:00' AS DateTimeOffset), 205, 12, NULL)
INSERT [dbo].[SGT_Direccion] ([id], [detail], [created_by], [updated_by], [created_at], [updated_at], [city_id], [department_id], [name]) VALUES (1003, N'San Salvador', NULL, NULL, CAST(N'2019-11-04T10:34:49.3900000+00:00' AS DateTimeOffset), CAST(N'2019-11-04T10:34:49.3900000+00:00' AS DateTimeOffset), 105, 6, NULL)
SET IDENTITY_INSERT [dbo].[SGT_Direccion] OFF
SET IDENTITY_INSERT [dbo].[SGT_Empleado] ON 

INSERT [dbo].[SGT_Empleado] ([id], [first_name], [last_name], [is_unit_boss], [user_name], [user_pass], [created_by], [updated_by], [created_at], [updated_at], [id_boss], [procuraduria_id], [unit_id]) VALUES (1, N'Daniel', N'Mejia', 1, N'daniel06', N'daniel123', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), NULL, NULL, 1)
INSERT [dbo].[SGT_Empleado] ([id], [first_name], [last_name], [is_unit_boss], [user_name], [user_pass], [created_by], [updated_by], [created_at], [updated_at], [id_boss], [procuraduria_id], [unit_id]) VALUES (2, N'Kevin', N'Toloza', 0, N'kevin06', N'kevin123', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), 1, NULL, 1)
INSERT [dbo].[SGT_Empleado] ([id], [first_name], [last_name], [is_unit_boss], [user_name], [user_pass], [created_by], [updated_by], [created_at], [updated_at], [id_boss], [procuraduria_id], [unit_id]) VALUES (3, N'Karen', N'Peñate', 0, N'karen12', N'karen123', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SGT_Empleado] OFF
SET IDENTITY_INSERT [dbo].[SGT_Folo6] ON 

INSERT [dbo].[SGT_Folo6] ([id], [request_unit], [off_date], [off_hour], [return_hour], [passengers_number], [with_driver], [person_who_drive], [license_type], [mission], [observation], [created_by], [updated_by], [created_at], [updated_at], [employee_id], [procuraduria_id]) VALUES (3, 1, CAST(N'2019-10-16T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'09:30:00' AS Time), CAST(N'16:30:00' AS Time), 4, 1, NULL, NULL, N'Auditoria', N'Nada pesado', NULL, NULL, CAST(N'2019-10-08T06:00:44.4640000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T06:00:44.4640000+00:00' AS DateTimeOffset), 1, NULL)
INSERT [dbo].[SGT_Folo6] ([id], [request_unit], [off_date], [off_hour], [return_hour], [passengers_number], [with_driver], [person_who_drive], [license_type], [mission], [observation], [created_by], [updated_by], [created_at], [updated_at], [employee_id], [procuraduria_id]) VALUES (5, 1, CAST(N'2019-10-11T00:00:00.0000000+00:00' AS DateTimeOffset), CAST(N'09:30:00' AS Time), CAST(N'13:30:00' AS Time), 4, 1, NULL, NULL, N'Test', N'Test', NULL, NULL, CAST(N'2019-10-08T06:27:03.9080000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T06:27:03.9080000+00:00' AS DateTimeOffset), 3, NULL)
SET IDENTITY_INSERT [dbo].[SGT_Folo6] OFF
SET IDENTITY_INSERT [dbo].[SGT_Folo6_Aprovado] ON 

INSERT [dbo].[SGT_Folo6_Aprovado] ([id], [request_unit_approve], [unit_cancel_detail], [transport_unit_approve], [cancel_tunit_detail], [created_by], [updated_by], [created_at], [updated_at], [folo06_id], [aprove_boss_id], [aprove_tunit_boss_id]) VALUES (1, 1, NULL, 0, NULL, NULL, NULL, CAST(N'2019-10-08T06:00:44.5540000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T06:00:44.5540000+00:00' AS DateTimeOffset), 3, 1, NULL)
INSERT [dbo].[SGT_Folo6_Aprovado] ([id], [request_unit_approve], [unit_cancel_detail], [transport_unit_approve], [cancel_tunit_detail], [created_by], [updated_by], [created_at], [updated_at], [folo06_id], [aprove_boss_id], [aprove_tunit_boss_id]) VALUES (2, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2019-10-08T06:08:06.6680000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T06:08:06.6680000+00:00' AS DateTimeOffset), NULL, NULL, NULL)
INSERT [dbo].[SGT_Folo6_Aprovado] ([id], [request_unit_approve], [unit_cancel_detail], [transport_unit_approve], [cancel_tunit_detail], [created_by], [updated_by], [created_at], [updated_at], [folo06_id], [aprove_boss_id], [aprove_tunit_boss_id]) VALUES (3, 0, NULL, 0, NULL, NULL, NULL, CAST(N'2019-10-08T06:27:03.9920000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T06:27:03.9920000+00:00' AS DateTimeOffset), 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SGT_Folo6_Aprovado] OFF
SET IDENTITY_INSERT [dbo].[SGT_Lugares_Contenedor] ON 

INSERT [dbo].[SGT_Lugares_Contenedor] ([id], [date_of_visit], [created_by], [updated_by], [created_at], [updated_at], [address_id], [folo_id], [frequent_place_id]) VALUES (1, CAST(N'2019-10-06' AS Date), NULL, NULL, CAST(N'2019-10-07T05:42:35.6310000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T05:42:35.6310000+00:00' AS DateTimeOffset), NULL, 1, 51)
INSERT [dbo].[SGT_Lugares_Contenedor] ([id], [date_of_visit], [created_by], [updated_by], [created_at], [updated_at], [address_id], [folo_id], [frequent_place_id]) VALUES (2, CAST(N'2019-10-06' AS Date), NULL, NULL, CAST(N'2019-10-07T05:42:35.6310000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T05:42:35.6310000+00:00' AS DateTimeOffset), NULL, 1, 7)
INSERT [dbo].[SGT_Lugares_Contenedor] ([id], [date_of_visit], [created_by], [updated_by], [created_at], [updated_at], [address_id], [folo_id], [frequent_place_id]) VALUES (1002, CAST(N'2019-10-07' AS Date), NULL, NULL, CAST(N'2019-10-08T03:43:37.2940000+00:00' AS DateTimeOffset), CAST(N'2019-10-08T03:43:37.2940000+00:00' AS DateTimeOffset), NULL, NULL, 12)
SET IDENTITY_INSERT [dbo].[SGT_Lugares_Contenedor] OFF
SET IDENTITY_INSERT [dbo].[SGT_Lugares_Frecuentes] ON 

INSERT [dbo].[SGT_Lugares_Frecuentes] ([id], [name], [detail], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [city_id], [department_id]) VALUES (1, N'Procuraduria Auxiliar de Soyapango', N'', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), NULL, 104, 6)
INSERT [dbo].[SGT_Lugares_Frecuentes] ([id], [name], [detail], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [city_id], [department_id]) VALUES (2, N'Procuraduria Auxiliar de Apopa', N'', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), NULL, 111, 6)
INSERT [dbo].[SGT_Lugares_Frecuentes] ([id], [name], [detail], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [city_id], [department_id]) VALUES (3, N'Procuraduria Auxiliar de Zacatecoluca', N'', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), NULL, 144, 8)
GO
SET IDENTITY_INSERT [dbo].[SGT_Lugares_Frecuentes] OFF
SET IDENTITY_INSERT [dbo].[SGT_Municipio] ON 

INSERT [dbo].[SGT_Municipio] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (1, N'Santa Tecla', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), 5)
INSERT [dbo].[SGT_Municipio] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (2, N'Antiguo Cuscatlán', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), 5)
INSERT [dbo].[SGT_Municipio] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (3, N'Chiltiupán', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), 5)
GO
SET IDENTITY_INSERT [dbo].[SGT_Municipio] OFF
SET IDENTITY_INSERT [dbo].[SGT_Procuraduria] ON 

INSERT [dbo].[SGT_Procuraduria] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [address_id]) VALUES (2, N'Procuraduria auxiliar de Santa Ana', NULL, NULL, CAST(N'2019-11-04T10:15:26.5900000+00:00' AS DateTimeOffset), CAST(N'2019-11-04T10:16:39.7960000+00:00' AS DateTimeOffset), 1002)
INSERT [dbo].[SGT_Procuraduria] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [address_id]) VALUES (3, N'Procuraduría General de la República de El Salvador', NULL, NULL, CAST(N'2019-11-04T10:34:49.4000000+00:00' AS DateTimeOffset), CAST(N'2019-11-04T10:34:49.4000000+00:00' AS DateTimeOffset), 1003)
SET IDENTITY_INSERT [dbo].[SGT_Procuraduria] OFF
SET IDENTITY_INSERT [dbo].[SGT_Ruta] ON 

INSERT [dbo].[SGT_Ruta] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [route_conditions_id]) VALUES (1, N'Aeropuerto', NULL, NULL, CAST(N'2019-10-07T01:31:14.4780000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T01:31:14.4780000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[SGT_Ruta] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [route_conditions_id]) VALUES (2, N'San Salvador', NULL, NULL, CAST(N'2019-10-07T02:24:57.1570000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T03:16:46.2210000+00:00' AS DateTimeOffset), NULL, NULL)
INSERT [dbo].[SGT_Ruta] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [route_conditions_id]) VALUES (3, N'UAEM', NULL, NULL, CAST(N'2019-10-07T05:01:09.7730000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T05:01:09.7730000+00:00' AS DateTimeOffset), NULL, NULL)
SET IDENTITY_INSERT [dbo].[SGT_Ruta] OFF
SET IDENTITY_INSERT [dbo].[SGT_Unidad] ON 

INSERT [dbo].[SGT_Unidad] ([id], [name_unit], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, N'Penal', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
INSERT [dbo].[SGT_Unidad] ([id], [name_unit], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, N'Servicio Social', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SGT_Unidad] OFF
INSERT [dbo].[SGT_Vale] ([num_voucher], [price], [condition], [date_entry], [voucher_provider], [num_entry_bill], [date_entry_bill], [num_close_bill], [date_close_bill], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, CAST(10 AS Decimal(18, 0)), N'Disponible', CAST(N'2019-10-09T00:00:00.0000000+00:00' AS DateTimeOffset), N'UNO', 125368, CAST(N'2019-10-09T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL, CAST(N'2019-10-07T05:10:10.8850000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T05:10:10.8850000+00:00' AS DateTimeOffset))
INSERT [dbo].[SGT_Vale] ([num_voucher], [price], [condition], [date_entry], [voucher_provider], [num_entry_bill], [date_entry_bill], [num_close_bill], [date_close_bill], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, CAST(10 AS Decimal(18, 0)), N'Disponible', CAST(N'2019-10-09T00:00:00.0000000+00:00' AS DateTimeOffset), N'UNO', 125368, CAST(N'2019-10-09T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL, CAST(N'2019-10-07T05:10:10.9680000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T05:10:10.9680000+00:00' AS DateTimeOffset))
INSERT [dbo].[SGT_Vale] ([num_voucher], [price], [condition], [date_entry], [voucher_provider], [num_entry_bill], [date_entry_bill], [num_close_bill], [date_close_bill], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, CAST(10 AS Decimal(18, 0)), N'Disponible', CAST(N'2019-10-09T00:00:00.0000000+00:00' AS DateTimeOffset), N'UNO', 125368, CAST(N'2019-10-09T00:00:00.0000000+00:00' AS DateTimeOffset), NULL, NULL, NULL, NULL, CAST(N'2019-10-07T05:10:10.9730000+00:00' AS DateTimeOffset), CAST(N'2019-10-07T05:10:10.9730000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[SGT_Vehiculo] ON 

INSERT [dbo].[SGT_Vehiculo] ([id], [brand], [model], [plate], [chassis], [engine], [seats], [state], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (1, N'Toyota', N'Corolla', N'N1234', N'Y1253364', N'64EK125369', 4, N'Funcional', NULL, NULL, CAST(N'2019-09-05T01:55:28.4160000+00:00' AS DateTimeOffset), CAST(N'2019-09-05T01:55:28.4230000+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[SGT_Vehiculo] ([id], [brand], [model], [plate], [chassis], [engine], [seats], [state], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (2, N'Hyndai', N'Elantra', N'N1235', N'Y1253365', N'64EK125368', 4, N'Dañado', NULL, NULL, CAST(N'2019-09-05T01:59:18.9820000+00:00' AS DateTimeOffset), CAST(N'2019-10-02T05:05:27.4940000+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[SGT_Vehiculo] ([id], [brand], [model], [plate], [chassis], [engine], [seats], [state], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (3, N'Chevrolet', N'Aveo', N'N1236', N'Y1253365', N'64EK125368', 4, N'Mantenimiento', NULL, NULL, CAST(N'2019-09-05T02:01:19.5020000+00:00' AS DateTimeOffset), CAST(N'2019-09-05T02:01:19.5120000+00:00' AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[SGT_Vehiculo] OFF
INSERT [dbo].[SIS_Usuarios] ([Id], [CodigoUsuario], [ApellidosUsuario], [NombresUsuario], [ClaveUsuario], [CorreoElectronicoUsuario], [MovilMensajeCortoUsuario], [CodigoUsuarioSupervisor], [ActivoInactivoUsuario], [TiempoRefrescoPantallaSegundos], [CodigoEstiloPantalla], [CodigoZonaContacto], [CodigoCallCenter], [CodigoRolUsuario], [ProveedorServicioCelular], [UbicacionFisicaUsuario]) VALUES (2, N'DM15012   ', N'Díaz Mejía', N'Carlos Dalton', N'dm15012   ', N'dm15012@ues.edu.sv', NULL, NULL, N'A', NULL, N'X         ', NULL, NULL, NULL, NULL, N'Mi Casita')
INSERT [dbo].[SIS_Usuarios] ([Id], [CodigoUsuario], [ApellidosUsuario], [NombresUsuario], [ClaveUsuario], [CorreoElectronicoUsuario], [MovilMensajeCortoUsuario], [CodigoUsuarioSupervisor], [ActivoInactivoUsuario], [TiempoRefrescoPantallaSegundos], [CodigoEstiloPantalla], [CodigoZonaContacto], [CodigoCallCenter], [CodigoRolUsuario], [ProveedorServicioCelular], [UbicacionFisicaUsuario]) VALUES (1, N'01        ', N'Toloza', N'Kevin', N'123456    ', N'th15003@ues.edu.sv', NULL, NULL, N'A', NULL, NULL, NULL, NULL, NULL, NULL, N'Ues')
INSERT [dbo].[SIS_Usuarios] ([Id], [CodigoUsuario], [ApellidosUsuario], [NombresUsuario], [ClaveUsuario], [CorreoElectronicoUsuario], [MovilMensajeCortoUsuario], [CodigoUsuarioSupervisor], [ActivoInactivoUsuario], [TiempoRefrescoPantallaSegundos], [CodigoEstiloPantalla], [CodigoZonaContacto], [CodigoCallCenter], [CodigoRolUsuario], [ProveedorServicioCelular], [UbicacionFisicaUsuario]) VALUES (3, N'03        ', N'Peñate Aviles', N'Karen Elvira', N'dsi_2019  ', N'karen.peñate@ues.edu.sv', NULL, NULL, N'A', NULL, NULL, NULL, NULL, NULL, NULL, N'Ues')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__vehicle__0C04E256C9E5B3EA]    Script Date: 09/11/2019 11:35:21 a.m. ******/
ALTER TABLE [dbo].[SGT_Vehiculo] ADD UNIQUE NONCLUSTERED 
(
	[plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SGT_Folo6_Aprovado] ADD  DEFAULT ((0)) FOR [request_unit_approve]
GO
ALTER TABLE [dbo].[SGT_Vale] ADD  DEFAULT (N'disponible') FOR [condition]
GO
ALTER TABLE [dbo].[SGT_Vehiculo] ADD  DEFAULT (N'Funcional') FOR [state]
GO
ALTER TABLE [dbo].[SGT_Direccion]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[SGT_Municipio] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Direccion]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[SGT_Departamento] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Empleado]  WITH CHECK ADD FOREIGN KEY([id_boss])
REFERENCES [dbo].[SGT_Empleado] ([id])
GO
ALTER TABLE [dbo].[SGT_Empleado]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[SGT_Procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Empleado]  WITH CHECK ADD FOREIGN KEY([unit_id])
REFERENCES [dbo].[SGT_Unidad] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Folo6]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[SGT_Empleado] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Folo6]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[SGT_Procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Folo6_Aprovado]  WITH CHECK ADD FOREIGN KEY([aprove_boss_id])
REFERENCES [dbo].[SGT_Empleado] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Folo6_Aprovado]  WITH CHECK ADD FOREIGN KEY([aprove_tunit_boss_id])
REFERENCES [dbo].[SGT_Empleado] ([id])
GO
ALTER TABLE [dbo].[SGT_Folo6_Aprovado]  WITH CHECK ADD FOREIGN KEY([folo06_id])
REFERENCES [dbo].[SGT_Folo6] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Lugares_Contenedor]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[SGT_Direccion] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Lugares_Contenedor]  WITH CHECK ADD FOREIGN KEY([folo_id])
REFERENCES [dbo].[SGT_Folo6] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Lugares_Contenedor]  WITH CHECK ADD FOREIGN KEY([frequent_place_id])
REFERENCES [dbo].[SGT_Lugares_Frecuentes] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Lugares_Frecuentes]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[SGT_Municipio] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Lugares_Frecuentes]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[SGT_Departamento] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Lugares_Frecuentes]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[SGT_Procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Municipio]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[SGT_Departamento] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Procuraduria]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[SGT_Direccion] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Ruta]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[SGT_Procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Ruta]  WITH CHECK ADD FOREIGN KEY([route_conditions_id])
REFERENCES [dbo].[SGT_Condiciones_Ruta] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Vales_Asignados_Folo6]  WITH CHECK ADD FOREIGN KEY([folo6_id])
REFERENCES [dbo].[SGT_Folo6] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Vales_Asignados_Folo6]  WITH CHECK ADD FOREIGN KEY([num_voucher])
REFERENCES [dbo].[SGT_Vale] ([num_voucher])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Vales_Asignados_Procuraduria]  WITH CHECK ADD FOREIGN KEY([num_voucher])
REFERENCES [dbo].[SGT_Vale] ([num_voucher])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Vales_Asignados_Procuraduria]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[SGT_Procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SGT_Vehiculo]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[SGT_Procuraduria] ([id])
ON DELETE SET NULL
GO
