USE [master]
GO
/****** Object:  Database [sigestran]    Script Date: 08/10/2019 1:39:50 AM ******/
CREATE DATABASE [sigestran]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sigestran', FILENAME = N'e:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sigestran.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sigestran_log', FILENAME = N'e:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\sigestran_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sigestran].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sigestran]
GO
/****** Object:  User [dm15012]    Script Date: 08/10/2019 1:39:50 AM ******/
CREATE USER [dm15012] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[address]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[detail] [nvarchar](250) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[city_id] [int] NULL,
	[department_id] [int] NULL,
	[name] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[city]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[department]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[employee]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](75) NOT NULL,
	[last_name] [nvarchar](75) NOT NULL,
	[is_unit_boss] [bit] NOT NULL,
	[user_name] [nvarchar](75) NOT NULL,
	[user_pass] [nvarchar](75) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[id_boss] [int] NULL,
	[procuraduria_id] [int] NULL,
	[unit_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[folo6]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folo6](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_unit] [int] NOT NULL,
	[off_date] [datetimeoffset](7) NOT NULL,
	[off_hour] [time](7) NOT NULL,
	[return_hour] [time](7) NOT NULL,
	[passengers_number] [int] NOT NULL,
	[with_driver] [bit] NOT NULL,
	[person_who_drive] [nvarchar](100) NULL,
	[license_type] [nvarchar](30) NULL,
	[mission] [nvarchar](150) NOT NULL,
	[observation] [nvarchar](150) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[employee_id] [int] NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[folo6_approve_state]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[folo6_approve_state](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_unit_approve] [bit] NULL,
	[unit_cancel_detail] [nvarchar](250) NULL,
	[transport_unit_approve] [bit] NULL,
	[cancel_tunit_detail] [nvarchar](250) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[folo06_id] [int] NULL,
	[aprove_boss_id] [int] NULL,
	[aprove_tunit_boss_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[frequent_place]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frequent_place](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[detail] [nvarchar](250) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[procuraduria_id] [int] NULL,
	[city_id] [int] NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[places_container]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[places_container](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_of_visit] [date] NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[address_id] [int] NULL,
	[folo_id] [int] NULL,
	[frequent_place_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[procuraduria]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[procuraduria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[address_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[route]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[route](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SIS_Usuarios]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIS_Usuarios](
	[Id] [int] NOT NULL,
	[CodigoUsuario] [char](10) NOT NULL,
	[ApellidosUsuario] [varchar](50) NOT NULL,
	[NombresUsuario] [varchar](50) NOT NULL,
	[ClaveUsuario] [char](10) NULL,
	[CorreoElectronicoUsuario] [varchar](100) NOT NULL,
	[MovilMensajeCortoUsuario] [varchar](100) NULL,
	[CodigoUsuarioSupervisor] [char](10) NULL,
	[ActivoInactivoUsuario] [char](1) NOT NULL,
	[TiempoRefrescoPantallaSegundos] [numeric](5, 0) NULL,
	[CodigoEstiloPantalla] [char](10) NULL,
	[CodigoZonaContacto] [char](10) NULL,
	[CodigoCallCenter] [char](10) NULL,
	[CodigoRolUsuario] [char](1) NULL,
	[ProveedorServicioCelular] [char](1) NULL,
	[UbicacionFisicaUsuario] [varchar](250) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[unit]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_unit] [nvarchar](75) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[vehicle]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vehicle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[plate] [nvarchar](10) NOT NULL,
	[chassis] [nvarchar](20) NOT NULL,
	[engine] [nvarchar](25) NOT NULL,
	[seats] [int] NOT NULL,
	[state] [nvarchar](25) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[voucher]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[num_voucher] [bigint] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[condition] [nvarchar](255) NOT NULL,
	[date_entry] [datetimeoffset](7) NOT NULL,
	[voucher_provider] [nvarchar](255) NOT NULL,
	[num_entry_bill] [bigint] NOT NULL,
	[date_entry_bill] [datetimeoffset](7) NOT NULL,
	[num_close_bill] [bigint] NULL,
	[date_close_bill] [datetimeoffset](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[num_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[voucher_folo6_assign]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_folo6_assign](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_voucher_f6] [datetimeoffset](7) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[folo6_id] [int] NULL,
	[num_voucher] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[voucher_procu_assign]    Script Date: 08/10/2019 1:39:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_procu_assign](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_voucher_procu] [datetimeoffset](7) NOT NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[num_voucher] [bigint] NULL,
	[procuraduria_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[address] ON 

INSERT [dbo].[address] ([id], [detail], [created_by], [updated_by], [created_at], [updated_at], [city_id], [department_id], [name]) VALUES (1, N'Isla conejo en el trifinio', NULL, NULL, CAST(0x07A0540EDE1E3B400B0000 AS DateTimeOffset), CAST(0x07A0540EDE1E3B400B0000 AS DateTimeOffset), 262, 14, N'Isla conejo')
SET IDENTITY_INSERT [dbo].[address] OFF
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (1, N'Santa Tecla', 0, 0, CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), 5)
INSERT [dbo].[city] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (2, N'Antiguo Cuscatlán', 0, 0, CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), 5)
INSERT [dbo].[city] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (3, N'Chiltiupán', 0, 0, CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), 5)
GO
SET IDENTITY_INSERT [dbo].[city] OFF
SET IDENTITY_INSERT [dbo].[department] ON 

INSERT [dbo].[department] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, N'Ahuachapan', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset))
INSERT [dbo].[department] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, N'Santa Ana', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset))
INSERT [dbo].[department] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, N'Sonsonate', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[department] OFF
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([id], [first_name], [last_name], [is_unit_boss], [user_name], [user_pass], [created_by], [updated_by], [created_at], [updated_at], [id_boss], [procuraduria_id], [unit_id]) VALUES (1, N'Daniel', N'Mejia', 1, N'daniel06', N'daniel123', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), NULL, 1, 1)
INSERT [dbo].[employee] ([id], [first_name], [last_name], [is_unit_boss], [user_name], [user_pass], [created_by], [updated_by], [created_at], [updated_at], [id_boss], [procuraduria_id], [unit_id]) VALUES (2, N'Kevin', N'Toloza', 0, N'kevin06', N'kevin123', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), 1, 1, 1)
INSERT [dbo].[employee] ([id], [first_name], [last_name], [is_unit_boss], [user_name], [user_pass], [created_by], [updated_by], [created_at], [updated_at], [id_boss], [procuraduria_id], [unit_id]) VALUES (3, N'Karen', N'Peñate', 0, N'karen12', N'karen123', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[employee] OFF
SET IDENTITY_INSERT [dbo].[folo6] ON 

INSERT [dbo].[folo6] ([id], [request_unit], [off_date], [off_hour], [return_hour], [passengers_number], [with_driver], [person_who_drive], [license_type], [mission], [observation], [created_by], [updated_by], [created_at], [updated_at], [employee_id], [procuraduria_id]) VALUES (3, 1, CAST(0x07000000000043400B0000 AS DateTimeOffset), CAST(0x0700DCC9A04F0000 AS Time), CAST(0x0700B4284D8A0000 AS Time), 4, 1, NULL, NULL, N'Auditoria', N'Nada pesado', NULL, NULL, CAST(0x07001B1B65323B400B0000 AS DateTimeOffset), CAST(0x07001B1B65323B400B0000 AS DateTimeOffset), 1, NULL)
INSERT [dbo].[folo6] ([id], [request_unit], [off_date], [off_hour], [return_hour], [passengers_number], [with_driver], [person_who_drive], [license_type], [mission], [observation], [created_by], [updated_by], [created_at], [updated_at], [employee_id], [procuraduria_id]) VALUES (5, 1, CAST(0x0700000000003E400B0000 AS DateTimeOffset), CAST(0x0700DCC9A04F0000 AS Time), CAST(0x07007CDB27710000 AS Time), 4, 1, NULL, NULL, N'Test', N'Test', NULL, NULL, CAST(0x0740228712363B400B0000 AS DateTimeOffset), CAST(0x0740228712363B400B0000 AS DateTimeOffset), 3, NULL)
SET IDENTITY_INSERT [dbo].[folo6] OFF
SET IDENTITY_INSERT [dbo].[folo6_approve_state] ON 

INSERT [dbo].[folo6_approve_state] ([id], [request_unit_approve], [unit_cancel_detail], [transport_unit_approve], [cancel_tunit_detail], [created_by], [updated_by], [created_at], [updated_at], [folo06_id], [aprove_boss_id], [aprove_tunit_boss_id]) VALUES (1, 1, NULL, 0, NULL, NULL, NULL, CAST(0x07A0D62865323B400B0000 AS DateTimeOffset), CAST(0x07A0D62865323B400B0000 AS DateTimeOffset), 3, 1, NULL)
INSERT [dbo].[folo6_approve_state] ([id], [request_unit_approve], [unit_cancel_detail], [transport_unit_approve], [cancel_tunit_detail], [created_by], [updated_by], [created_at], [updated_at], [folo06_id], [aprove_boss_id], [aprove_tunit_boss_id]) VALUES (2, 0, NULL, 0, NULL, NULL, NULL, CAST(0x07C014AE6C333B400B0000 AS DateTimeOffset), CAST(0x07C014AE6C333B400B0000 AS DateTimeOffset), NULL, NULL, NULL)
INSERT [dbo].[folo6_approve_state] ([id], [request_unit_approve], [unit_cancel_detail], [transport_unit_approve], [cancel_tunit_detail], [created_by], [updated_by], [created_at], [updated_at], [folo06_id], [aprove_boss_id], [aprove_tunit_boss_id]) VALUES (3, 0, NULL, 0, NULL, NULL, NULL, CAST(0x0780F39312363B400B0000 AS DateTimeOffset), CAST(0x0780F39312363B400B0000 AS DateTimeOffset), 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[folo6_approve_state] OFF
SET IDENTITY_INSERT [dbo].[frequent_place] ON 

INSERT [dbo].[frequent_place] ([id], [name], [detail], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [city_id], [department_id]) VALUES (1, N'Procuraduria Auxiliar de Soyapango', N'', 0, 0, CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), 1, 104, 6)
INSERT [dbo].[frequent_place] ([id], [name], [detail], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [city_id], [department_id]) VALUES (2, N'Procuraduria Auxiliar de Apopa', N'', 0, 0, CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), 1, 111, 6)
INSERT [dbo].[frequent_place] ([id], [name], [detail], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id], [city_id], [department_id]) VALUES (3, N'Procuraduria Auxiliar de Zacatecoluca', N'', 0, 0, CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), CAST(0x0700A599852CE63F0B0000 AS DateTimeOffset), 1, 144, 8)
GO
SET IDENTITY_INSERT [dbo].[frequent_place] OFF
SET IDENTITY_INSERT [dbo].[places_container] ON 

INSERT [dbo].[places_container] ([id], [date_of_visit], [created_by], [updated_by], [created_at], [updated_at], [address_id], [folo_id], [frequent_place_id]) VALUES (1, CAST(0x39400B00 AS Date), NULL, NULL, CAST(0x07F05F1CDC2F3A400B0000 AS DateTimeOffset), CAST(0x07F05F1CDC2F3A400B0000 AS DateTimeOffset), NULL, 1, 51)
INSERT [dbo].[places_container] ([id], [date_of_visit], [created_by], [updated_by], [created_at], [updated_at], [address_id], [folo_id], [frequent_place_id]) VALUES (2, CAST(0x39400B00 AS Date), NULL, NULL, CAST(0x07F05F1CDC2F3A400B0000 AS DateTimeOffset), CAST(0x07F05F1CDC2F3A400B0000 AS DateTimeOffset), NULL, 1, 7)
INSERT [dbo].[places_container] ([id], [date_of_visit], [created_by], [updated_by], [created_at], [updated_at], [address_id], [folo_id], [frequent_place_id]) VALUES (1002, CAST(0x3A400B00 AS Date), NULL, NULL, CAST(0x07E096543D1F3B400B0000 AS DateTimeOffset), CAST(0x07E096543D1F3B400B0000 AS DateTimeOffset), NULL, NULL, 12)
SET IDENTITY_INSERT [dbo].[places_container] OFF
SET IDENTITY_INSERT [dbo].[procuraduria] ON 

INSERT [dbo].[procuraduria] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [address_id]) VALUES (1, N'Procuraduría General de la República de El Salvador', NULL, NULL, CAST(0x07F05D97DE223A400B0000 AS DateTimeOffset), CAST(0x070013C24B253A400B0000 AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[procuraduria] OFF
SET IDENTITY_INSERT [dbo].[route] ON 

INSERT [dbo].[route] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (1, N'Aeropuerto', NULL, NULL, CAST(0x07E00C0BBF0C3A400B0000 AS DateTimeOffset), CAST(0x07E00C0BBF0C3A400B0000 AS DateTimeOffset), NULL)
INSERT [dbo].[route] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (2, N'San Salvador', NULL, NULL, CAST(0x0750D7E83F143A400B0000 AS DateTimeOffset), CAST(0x07D05B0E7D1B3A400B0000 AS DateTimeOffset), NULL)
INSERT [dbo].[route] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (3, N'UAEM', NULL, NULL, CAST(0x07D08B6C122A3A400B0000 AS DateTimeOffset), CAST(0x07D08B6C122A3A400B0000 AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[route] OFF
INSERT [dbo].[SIS_Usuarios] ([Id], [CodigoUsuario], [ApellidosUsuario], [NombresUsuario], [ClaveUsuario], [CorreoElectronicoUsuario], [MovilMensajeCortoUsuario], [CodigoUsuarioSupervisor], [ActivoInactivoUsuario], [TiempoRefrescoPantallaSegundos], [CodigoEstiloPantalla], [CodigoZonaContacto], [CodigoCallCenter], [CodigoRolUsuario], [ProveedorServicioCelular], [UbicacionFisicaUsuario]) VALUES (2, N'DM15012   ', N'Díaz Mejía', N'Carlos Dalton', N'dm15012   ', N'dm15012@ues.edu.sv', NULL, NULL, N'A', NULL, N'X         ', NULL, NULL, NULL, NULL, N'Mi Casita')
INSERT [dbo].[SIS_Usuarios] ([Id], [CodigoUsuario], [ApellidosUsuario], [NombresUsuario], [ClaveUsuario], [CorreoElectronicoUsuario], [MovilMensajeCortoUsuario], [CodigoUsuarioSupervisor], [ActivoInactivoUsuario], [TiempoRefrescoPantallaSegundos], [CodigoEstiloPantalla], [CodigoZonaContacto], [CodigoCallCenter], [CodigoRolUsuario], [ProveedorServicioCelular], [UbicacionFisicaUsuario]) VALUES (1, N'01        ', N'Toloza', N'Kevin', N'123456    ', N'th15003@ues.edu.sv', NULL, NULL, N'A', NULL, NULL, NULL, NULL, NULL, NULL, N'Ues')
INSERT [dbo].[SIS_Usuarios] ([Id], [CodigoUsuario], [ApellidosUsuario], [NombresUsuario], [ClaveUsuario], [CorreoElectronicoUsuario], [MovilMensajeCortoUsuario], [CodigoUsuarioSupervisor], [ActivoInactivoUsuario], [TiempoRefrescoPantallaSegundos], [CodigoEstiloPantalla], [CodigoZonaContacto], [CodigoCallCenter], [CodigoRolUsuario], [ProveedorServicioCelular], [UbicacionFisicaUsuario]) VALUES (3, N'03        ', N'Peñate Aviles', N'Karen Elvira', N'dsi_2019  ', N'karen.peñate@ues.edu.sv', NULL, NULL, N'A', NULL, NULL, NULL, NULL, NULL, NULL, N'Ues')
SET IDENTITY_INSERT [dbo].[unit] ON 

INSERT [dbo].[unit] ([id], [name_unit], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, N'Penal', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset))
INSERT [dbo].[unit] ([id], [name_unit], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, N'Servicio Social', NULL, NULL, CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset), CAST(0x0770EBA6852CE63F0B0000 AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[unit] OFF
SET IDENTITY_INSERT [dbo].[vehicle] ON 

INSERT [dbo].[vehicle] ([id], [brand], [model], [plate], [chassis], [engine], [seats], [state], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (1, N'Toyota', N'Corolla', N'N1234', N'Y1253364', N'64EK125369', 4, N'Funcional', NULL, NULL, CAST(0x070062A821101A400B0000 AS DateTimeOffset), CAST(0x077073A921101A400B0000 AS DateTimeOffset), NULL)
INSERT [dbo].[vehicle] ([id], [brand], [model], [plate], [chassis], [engine], [seats], [state], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (2, N'Hyndai', N'Elantra', N'N1235', N'Y1253365', N'64EK125368', 4, N'Dañado', NULL, NULL, CAST(0x0760F615AB101A400B0000 AS DateTimeOffset), CAST(0x0760A609AC2A35400B0000 AS DateTimeOffset), NULL)
INSERT [dbo].[vehicle] ([id], [brand], [model], [plate], [chassis], [engine], [seats], [state], [created_by], [updated_by], [created_at], [updated_at], [procuraduria_id]) VALUES (3, N'Chevrolet', N'Aveo', N'N1236', N'Y1253365', N'64EK125368', 4, N'Mantenimiento', NULL, NULL, CAST(0x07E0DAEBF2101A400B0000 AS DateTimeOffset), CAST(0x078061EDF2101A400B0000 AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[vehicle] OFF
INSERT [dbo].[voucher] ([num_voucher], [price], [condition], [date_entry], [voucher_provider], [num_entry_bill], [date_entry_bill], [num_close_bill], [date_close_bill], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, CAST(10 AS Decimal(18, 0)), N'Disponible', CAST(0x0700000000003C400B0000 AS DateTimeOffset), N'UNO', 125368, CAST(0x0700000000003C400B0000 AS DateTimeOffset), NULL, NULL, NULL, NULL, CAST(0x0750AFF3542B3A400B0000 AS DateTimeOffset), CAST(0x0750AFF3542B3A400B0000 AS DateTimeOffset))
INSERT [dbo].[voucher] ([num_voucher], [price], [condition], [date_entry], [voucher_provider], [num_entry_bill], [date_entry_bill], [num_close_bill], [date_close_bill], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, CAST(10 AS Decimal(18, 0)), N'Disponible', CAST(0x0700000000003C400B0000 AS DateTimeOffset), N'UNO', 125368, CAST(0x0700000000003C400B0000 AS DateTimeOffset), NULL, NULL, NULL, NULL, CAST(0x07805900552B3A400B0000 AS DateTimeOffset), CAST(0x07805900552B3A400B0000 AS DateTimeOffset))
INSERT [dbo].[voucher] ([num_voucher], [price], [condition], [date_entry], [voucher_provider], [num_entry_bill], [date_entry_bill], [num_close_bill], [date_close_bill], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, CAST(10 AS Decimal(18, 0)), N'Disponible', CAST(0x0700000000003C400B0000 AS DateTimeOffset), N'UNO', 125368, CAST(0x0700000000003C400B0000 AS DateTimeOffset), NULL, NULL, NULL, NULL, CAST(0x07D01C01552B3A400B0000 AS DateTimeOffset), CAST(0x07D01C01552B3A400B0000 AS DateTimeOffset))
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__vehicle__0C04E256C9E5B3EA]    Script Date: 08/10/2019 1:39:50 AM ******/
ALTER TABLE [dbo].[vehicle] ADD UNIQUE NONCLUSTERED 
(
	[plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[folo6_approve_state] ADD  DEFAULT ((0)) FOR [request_unit_approve]
GO
ALTER TABLE [dbo].[vehicle] ADD  DEFAULT (N'Funcional') FOR [state]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT (N'disponible') FOR [condition]
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[address]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[city]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD FOREIGN KEY([id_boss])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[employee]  WITH CHECK ADD FOREIGN KEY([unit_id])
REFERENCES [dbo].[unit] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[folo6]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employee] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[folo6]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[folo6_approve_state]  WITH CHECK ADD FOREIGN KEY([aprove_boss_id])
REFERENCES [dbo].[employee] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[folo6_approve_state]  WITH CHECK ADD FOREIGN KEY([aprove_tunit_boss_id])
REFERENCES [dbo].[employee] ([id])
GO
ALTER TABLE [dbo].[folo6_approve_state]  WITH CHECK ADD FOREIGN KEY([folo06_id])
REFERENCES [dbo].[folo6] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[frequent_place]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[city] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[frequent_place]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[frequent_place]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[places_container]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[places_container]  WITH CHECK ADD FOREIGN KEY([folo_id])
REFERENCES [dbo].[folo6] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[places_container]  WITH CHECK ADD FOREIGN KEY([frequent_place_id])
REFERENCES [dbo].[frequent_place] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[procuraduria]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[address] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[route]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[vehicle]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[procuraduria] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_folo6_assign]  WITH CHECK ADD FOREIGN KEY([folo6_id])
REFERENCES [dbo].[folo6] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_folo6_assign]  WITH CHECK ADD FOREIGN KEY([num_voucher])
REFERENCES [dbo].[voucher] ([num_voucher])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_procu_assign]  WITH CHECK ADD FOREIGN KEY([num_voucher])
REFERENCES [dbo].[voucher] ([num_voucher])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_procu_assign]  WITH CHECK ADD FOREIGN KEY([procuraduria_id])
REFERENCES [dbo].[procuraduria] ([id])
ON DELETE SET NULL
GO
USE [master]
GO
