{% extends 'index.html'%}

{% block views %}

<div id="lista_vehiculos" class="ui container">
    <h1 id="title" style="margin-left: 30%" class="ui header">Vales asignados</h1>
    
    <table class="ui celled table datatable" id="asignar_vales" name="asignar_vale" style="width: 70 em">
        <thead>
            <tr style="text-align: center">
                <th>Procuraduría</th>
                <th>Cantidad</th>
                <th>Inicial</th>
                <th>Final</th>
                <th>Total USD</th>
               
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td class="center aligned"></td>
                <td class="center aligned"></td>
                <td class="center aligned"></td>
                <td class="center aligned"></td>
                <td class="center aligned"></td>
               
            
            </tr>
                    
        </tbody> 
    
    </table>
    <br>
    <p></p>    
</div>
<table border="0" style="padding-left: 35%">
    <td colspan="2" style="align-content: center">
           
                <div id="nuevo" class="ui  green button" style="margin-bottom:1em" tabindex="0">
                    <div >Asignar</div>
                </div>
            </a>
    </td>
    <td><h4>Cantidades de Vales disponibles</h4></td>
    <td>  
        <div class="field">
        <input id="num" name="num" disable type="number">
    </div></td>
</table>


<link rel="stylesheet" href="/stylesheets/vehicle.css">
<link rel="stylesheet" href="/stylesheets/datatablefix.css">
<script src="/javascript/vehicle/a_vehicle_list.js"></script>
{% endblock %}
