{% extends 'index.html'%}
{% block views %}
<!-- <div class="button">
    <button class="ui large animated button" id="return">
        <span class="visible content">Volver </span>
        <span class="hidden content"> <i class="arrow left icon"></i>
        </span>
    </button>
</div> -->
<p></p>
<div class="ui container grid stackable">
    <div class="sixteen wide column">
        <h1 class="ui blue dividing header"><i class="charging station icon"></i>
            Listado de vales asignados por vehículo</h1>

        <!-- <div class="ui info message">
            <div class="header"><i class="top left exclamation circle fitted info icon"></i>
                Recuerde:
            </div>
            El listado de vales de combustible vistos a continuación, únicamente presenta aquellos
            disponibles a la fecha. Si desea localizar un vale ya asignado con anterioridad debe
            dirigirse a:
        </div> -->
        <div class="four wide">
            <!-- Calendario para mostrar las facturas de ese mes -->
            <label for="date_entry_bill">Mes:</label>
            <div class="ui calendar" id="month_calendar_switch">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Seleccione el mes" name="bill_month_switch" readonly=""
                        autocomplete="off" id="bill_month_switch">
                </div>
            </div>
        </div>
        <br>
        <div class="fourteen wide">
            <!-- Vehículos -->
            <label for="date_entry_bill">Vehículo:</label>

            <select class="ui fluid dropdown" name="car_information" id="car_information">
                <option value="">Seleccione un vehículo</option>
                {% for car in vehicles %}
                {% if loop.first%}
                <option value="{{ car.id }}" selected>{{ car.plate }} --- {{ car.brand }} --- {{ car.model }}</option>
                {%else%}
                <option value="{{ car.id }}">{{ car.plate }} --- {{ car.brand }} ---
                    {{ car.model }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
    </div>
    <!-- TABLA DE VALES POR VEHICULO  -->
    <table class="ui celled table datatable" id="mytable1" name="mytable1" style="width: 100%;">
        <thead style="text-align: center;">
            <tr>
                <th>Fecha de asignación</th>
                <th>Número de vale Asignado</th>
                <th>Número de folo</th>
                <th>Valor</th>

                <!-- <th>Cantidad de vales</th>
                <th>Total($)</th>
                <th>Fecha de Ingreso</th> -->
            </tr>
        </thead>
        <tbody style="text-align: right;">
            <tr>
                <td style="text-align: right !important;">Cantidad</td>
                <td style="text-align: right !important;">Total</td>
                <td>Fecha de Ingreso</td>
                <td>Valor</td>

            </tr>
        </tbody>
    </table>
    <!-- TABLA DE VALES POR VEHICULO  -->
</div>

<link rel="stylesheet" href="/stylesheets/add_voucher.css">
<link rel="stylesheet" href="/stylesheets/datatablefix.css">
<script src="/moment/moment.js"></script>
<script src="/moment/locale/es.js" charset="UTF-8"></script>

<script src="/javascript/report_voucher_vehicle/a_report.js"></script>
<style>
    .dataTables_wrapper {
        overflow: hidden;
    }
</style>

{%endblock%}