.pusher {
    max-height: max-content;
    height: 100%;
    min-height: 100%;
}

#mytable_wrapper {
    /* padding-top: 0.5em; */
    overflow-x: hidden;
    overflow-y: hidden;
}

.dataTables_scrollBody {
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.body .dimmable {
    overflow-x: hidden;
}